<div class="container py-4">
  <div class="p-5 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold"><%=@friend.first_name %> <%=@friend.last_name %></h1>
      <p class="col-md-8 fs-4"><%=@friend.email%> <br>
        <%=@friend.phone%><br>
        <%=@friend.discord%> </p>
    </div>
  </div>
  <div>
    <%= link_to "Edit friend", edit_friend_path(@friend), class:"btn btn-secondary" %>
    <%= link_to "Back to friends", friends_path, class:"btn btn-dark"%>
    <br>
    <br>
    <%= button_to "Destroy this friend", @friend, data: { confirm: "Are you sure?" } , method: :delete, class:"btn btn-danger" %>
  </div>
